@model MovieRental.Models.Movie

@{
    ViewBag.Title = "DeleteAll";
}

<h2>Delete All Movies</h2>

<h3>Are you sure you want to delete ALL MOVIES?</h3>

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="DeleteAll" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>